# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Large/temporary files
*.log
*.tmp

# Model checkpoints
models/
*.pt
*.pth

# Optional generated videos
generated_videos/
